################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Starter Files/ImageGallery/.vs/ImageGallery/v15
/.vs/SecuringAspNetCore2WithOAuth2AndOIDC/v15
/.vs
/Finished sample/.vs/ImageGallery/v16
/Finished sample/src/ImageGallery.API/bin/Debug/netcoreapp3.1
/Finished sample/src/ImageGallery.API/obj
/Finished sample/src/Marvin.IDP/obj
/Finished sample/src/ImageGallery.Model
/Finished sample/src/ImageGallery.Client/obj

Starter files/src/ImageGallery.API/bin/

Starter files/src/ImageGallery.API/obj/

Starter files/src/ImageGallery.Client/bin/

Starter files/src/ImageGallery.Client/obj/

Starter files/src/ImageGallery.Model/bin/

Starter files/src/ImageGallery.Model/obj/

Starter files/.vs/

Starter files/ImageGallery.API/bin/

Starter files/ImageGallery.API/obj/

Starter files/ImageGallery.Client/bin/

Starter files/ImageGallery.Client/obj/

Starter files/ImageGallery.Model/bin/

Starter files/ImageGallery.Model/obj/

Starter files/Marvin.IDP/obj/

Starter files/Marvin.IDP/bin/

Starter files/Marvin.IDP/keys/
